<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <h2>My Open Tickets</h2>
      <hr />
      
      <ul class="row list-unstyled">
        <% for(var i=0; i<tickets.length; i++) {%>
          <li class="col mt-5">

            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title">Ticket: <%= tickets[i]._id %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Opened by: <%= tickets[i].user.firstName %> <%= tickets[i].user.lastName %></h6>
                <p class="card-text">
                  <span class="text-muted">Subject:</span> <%= tickets[i].shortDesc %>
                </p>
                <a href="/ticket/<%= tickets[i]._id%>" class="btn btn-primary">Ticket Details</a>
              </div>
            </div>
  
          </li>
        <% } %>
        </ul>
    </div>
  </div>  

<%- include('partials/footer') -%>