<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Name</strong>: <%= user.fullName %></p>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <p><strong>Role</strong>: <%= user.role %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <a class="btn btn-primary" href="/ticket/createTicket">Submit a New Ticket</a>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<tickets.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/ticket/<%= tickets[i]._id%>">
              <p><%= tickets[i].shortDesc%></p>
              <p>Opened by: <%= user.fullName%></p>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">List All Open Tickets</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>