<%- include('partials/header') -%>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= ticket.shortDesc %></h2>
      <h3>Opened by: <%= user.fullName %></h3>
    
      <div class="row">
        <%if(ticket.user == user.id){ %>
        <form action="/ticket/deleteTicket/<%= ticket.id %>?_method=DELETE"
          method="POST" class="col-3">
          <button class="btn btn-danger" type="submit">
          <i class="fa-solid fa-trash fa-lg"></i></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= ticket.description %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile Page</a>
      <a class="btn btn-primary" href="/feed">Return to All Open Tickets</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
