<%- include('partials/header') -%>
  <%- include('partials/navbar') -%>

    <div class="container mt-5 col-12">
      <div class="card shadow p-3 mb-3 bg-custom rounded">

        <div class="card-body">
          <h2 class="d-flex justify-content-between">Ticket Details <span class="status ">
              <%= ticket.status %>
            </span></h2>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <h3>Number: <%= ticket._id %>
              </h3>
              <p><strong>Created on: </strong>
                <%= ticket.createdAt.toDateString() %>
              </p>
              <% if (ticket.dueDate) {%>
                <p><strong>Due date: </strong>
                  <%= ticket.dueDate.toDateString() %>
                </p>
                <% } %>
                  <p><strong>Type of Issue: </strong>
                    <%= ticket.typeOfTicket %>
                  </p>

                  <p><strong>Short Description: </strong>
                    <%= ticket.shortDesc %>
                  </p>
                  <p><strong>Details: </strong>
                    <%= ticket.details %>
                  </p>
                  <hr>
                  <% if (ticket.assignedTech) {%>
                    <p><strong>Assigned Tech:</strong>
                      <%= ticket.assignedTech.firstName %>
                        <%= ticket.assignedTech.lastName %>
                    </p>
                    <% } %>
                      <hr>
                      <p><strong>Tech Notes:</strong></p>
                      <% for(let i=0; i<ticket.techNotes.length; i++) { %>
                        <p>
                          <%= ticket.techNotes[i].date.toDateString() %> -
                            <%= ticket.techNotes[i].body %>
                        </p>
                        <% } %>


            </div>

            <div class="col-lg-6">
              <h3>Update Ticket</h3>
              <form action="/ticket/updateTicket/<%= ticket._id %>?_method=PUT" method="POST">

                <div class="mb-3">
                  <label for='status' class="form-label fw-bold">Update Status:</label>
                  <select id='status' class="form-select" name='status'>
                    <option value='Open'>Open</option>
                    <option value='Assigned'>Assigned</option>
                    <option value='Under review'>Under review</option>
                    <option value='Awaiting response'>Awaiting response</option>
                    <option value='Working on it'>Working on it</option>
                    <option value='Complete'>Complete</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="dueDate" class="form-label">Due Date: </label>
                  <input type="date" class="form-control" id="dueDate" name="dueDate">
                </div>
                <div class="mb-3">
                  <label for="assignedTech" class="form-label fw-bold">Assigned Tech: </label>

                  <select id='assignedTech' class="form-select" name='assignedTech'>
                    <% for (let i=0; i < techs.length; i++) {%>
                      <% if (ticket.assignedTech.email === techs[i].email) {%>
                        <option value='<%= techs[i].id %>' selected>
                      <% } else {%>
                        <option value='<%= techs[i].id %>'>
                      <% } %>
                        <%= techs[i].firstName %>
                          <%= techs[i].lastName %>
                        </option>
                    <% } %>
                  </select>
                </div>
                <div class="mb-3">
                  <label for='techNotes' class="form-label fw-bold">Tech Notes:</label>
                  <textarea class="form-control" name="techNotes" id="techNotes"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" value="save">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') -%>